In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

Connecting to 'postgresql://student:***@127.0.0.1/sparkifydb'

In [3]:
%sql SELECT * FROM songplays LIMIT 5;

Running query in 'postgresql://student:***@127.0.0.1/sparkifydb'

+-------------+------------+---------+-------+---------+-----------+------------+----------+------------+
| songplay_id | start_time | user_id | level | song_id | artist_id | session_id | location | user_agent |
+-------------+------------+---------+-------+---------+-----------+------------+----------+------------+
+-------------+------------+---------+-------+---------+-----------+------------+----------+------------+

In [4]:
%sql SELECT * FROM users LIMIT 5;

Running query in 'postgresql://student:***@127.0.0.1/sparkifydb'

+---------+------------+-----------+--------+-------+
| user_id | first_name | last_name | gender | level |
+---------+------------+-----------+--------+-------+
+---------+------------+-----------+--------+-------+

In [5]:
%sql SELECT * FROM songs LIMIT 5;

Running query in 'postgresql://student:***@127.0.0.1/sparkifydb'

+---------+-------+-----------+------+----------+
| song_id | title | artist_id | year | duration |
+---------+-------+-----------+------+----------+
+---------+-------+-----------+------+----------+

In [6]:
%sql SELECT * FROM artists LIMIT 5;

Running query in 'postgresql://student:***@127.0.0.1/sparkifydb'

+-----------+------+----------+----------+-----------+
| artist_id | name | location | latitude | longitude |
+-----------+------+----------+----------+-----------+
+-----------+------+----------+----------+-----------+

In [7]:
%sql SELECT * FROM time LIMIT 5;

Running query in 'postgresql://student:***@127.0.0.1/sparkifydb'

+------------+------+-----+------+-------+------+---------+
| start_time | hour | day | week | month | year | weekday |
+------------+------+-----+------+-------+------+---------+
+------------+------+-----+------+-------+------+---------+

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).